<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Ropa</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header class="header">
        <div class="welcome">
            <div class="text">
                <p>Hello, Welcome 👋</p>
                <h2>Ronal Valderrama</h2>
            </div>
            <img src="../storage/img/my-profile.png" alt="Foto de perfil" class="profile-pic">
        </div>
        <div class="search-bar">
            <div class="search-box">
                <input type="text" placeholder="Search clothes...">
                <span class="search-icon"><img src="../storage/img/search-Icon.png" alt=""></span>
            </div>
            <button class="filter-btn"><img src="../storage/img/Filter.png" alt=""></button>
        </div>
    </header>
    <div class="filter-buttons">
        <button class="filter active">
            <img src="../storage/img/Default-Icon.png" alt="All Items">
            All Items
        </button>
        <button class="filter">
            <img src="../storage/img/dress-icon.png" alt="Dress">
            Dress
        </button>
        <button class="filter">
            <img src="../storage/img/shirt-icon.png" alt="T-Shirt">
            T-Shirt
        </button>
        <button class="filter">
            <img src="../storage/img/jeans-Icon.png" alt="Pants">
            pants
        </button>
        </div>
        <div class="products-grid">
        <div class="product-card">
            <img src="../storage/img/ronal-1.png" alt="Producto 1">
            <h3>Modern Light Clothes</h3>
            <p>T-Shirt</p>
            <p>$212.99 ⭐ 5.0</p>
        </div>
        <div class="product-card tall">
            <img src="../storage/img/ronal-2.png" alt="Producto 2">
            <h3>Light Dress Bless</h3>
            <p>Dress Modern</p>
            <p>$162.99 ⭐ 5.0</p>
        </div>
    </div>
    <div class="products-grid">
        <div class="product-card">
            <img src="../storage/img/ronal-3.png" alt="Producto 1">
            <h3>Modern Light Clothes</h3>
            <p>T-Shirt</p>
            <p>$212.99 ⭐ 5.0</p>
        </div>
        <div class="product-card tall">
            <img src="../storage/img/ronal-4.png" alt="Producto 2">
            <h3>Light Dress Bless</h3>
            <p>Dress Modern</p>
            <p>$162.99 ⭐ 5.0</p>
        </div>
    </div>

</body>
</html>
